<!-- login-form.html -->
<template id="login-form-template">
  <style>
    login-form .container {
      max-width: 300px;
      padding: 50px;
      border: 1px solid grey;
    }

    login-form .footnote {
      text-align: center;
    }
  </style>

<div class="container">
  <form action="#">
    <p>
      <label for="username">User Name</label>
      <input type="text" id="username" name="username">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
    </p>
    <p>
      <input type="submit" value="Login">
    </p>
    <p class="footnote">Not registered? <a href="#">Create an account</a></p>
  </form>
</div>
</template>

<script>
(function() {
  const doc = (document._currentScript || document.currentScript).ownerDocument;
  const template = doc.querySelector('#login-form-template');

  customElements.define('login-form', class extends HTMLElement {
    constructor() {
      super();
    }

    // Without the shadow DOM, we have to manipulate the custom element
    // after it has been inserted in the DOM.
    connectedCallback() {
      const temp = document.importNode(template.content, true);
      this.appendChild(temp);
    }
  });
})();
</script>
